<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>229858212326-n5ek7pal82jhuuvao9hds4n207e6sg4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229858212326-n5ek7pal82jhuuvao9hds4n207e6sg4a</string>
	<key>API_KEY</key>
	<string>AIzaSyAwv4ve60XNBmHbwDmDAyUmaPUlZWgn5Us</string>
	<key>GCM_SENDER_ID</key>
	<string>229858212326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.eighty8.FirestoreExample</string>
	<key>PROJECT_ID</key>
	<string>firestoreexample-eb26c</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreexample-eb26c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229858212326:ios:40e944e94c2338dc</string>
	<key>DATABASE_URL</key>
	<string>https://firestoreexample-eb26c.firebaseio.com</string>
</dict>
</plist>